.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.message {
    padding: 19px 60px;
    position: fixed;
    top: 13px;
    right: 105px;
    background-color: chocolate;
    border-radius: 3px;
    color: #fff;
    animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes slidein {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .message::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    animation: time 3s forwards;
  }
  @keyframes time {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  } 

.container {
  margin: auto;
  padding: 2rem;
  width: 100%;
  max-width: 32rem;
  border: 1px solid #DDD;
  border-radius: 1rem;
}

.page_title {
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
}

.login_form__row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.login_form__input{
  appearance: none;
}

.login_form__submit_row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.login_form__button {
  flex: 0 0 auto;
  height: 3rem;
  padding: 0 2rem;
  border: 1px solid #BBB;
  border-radius: .5rem;
  background-color: #FFF;
  font-family: inherit;
  font-size: .9rem;
  cursor: pointer;
}
.login_form__button_primary {
  border-color: #0AF;
  box-shadow: 0 0 0 2px #0AF6;
  color: #0AF;
  font-weight: 600;
}
